assignment1.txt.txt
[{"id":"704a66b.401a998","type":"inject","z":"d140e6ea.cccb78","name":"","topic":"number","payload":"","payloadType":"num","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":172,"y":232,"wires":[["f54cc27e.418bf"]]},{"id":"f54cc27e.418bf","type":"random","z":"d140e6ea.cccb78","name":"","low":"0","high":"10","inte":"true","x":392,"y":238.600022315979,"wires":[["5233ced.1e3da3"]]},{"id":"a6e5e0eb.f2542","type":"debug","z":"d140e6ea.cccb78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":832.0000534057617,"y":239.00001049041748,"wires":[]},{"id":"5233ced.1e3da3","type":"function","z":"d140e6ea.cccb78","name":"condition block","func":"if (msg.payload < 5) {\n   return {\"payload\" : \"Number \" +msg.payload+ \" is a low number\"};\n} \nelse {\n   return {\"payload\" : \"Number \" +msg.payload+ \" is a high number\"};\n}\n\n\n","outputs":1,"noerr":0,"x":581.0000495910645,"y":237.6000099182129,"wires":[["a6e5e0eb.f2542"]]}]