assignment2.txt.txt
[{"id":"74dab1bd.96f81","type":"http in","z":"3a86ae08.cdc502","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":208.10000610351562,"y":200.39999389648438,"wires":[["bc63d601.ee4998"]]},{"id":"a341b501.c61438","type":"http response","z":"3a86ae08.cdc502","name":"","statusCode":"","headers":{},"x":653.1000595092773,"y":200.00000190734863,"wires":[]},{"id":"bc63d601.ee4998","type":"function","z":"3a86ae08.cdc502","name":"current time","func":"var time = new Date()\nhh = time.getHours()\nmm = time.getMinutes()\n\nif( hh.toString().length < 2) {\n     hh = \"0\"+ hh;\n}\nif(mm.toString().length < 2) {\n    mm = \"0\"+ mm;\n}\n\nvar output = hh +\":\"+ mm\nthis.context.flow.set(\"time\",output);\nmsg.payload =   \n         {\"time\":output\n         };\nreturn msg;","outputs":1,"noerr":0,"x":413.1000747680664,"y":201.00000286102295,"wires":[["a341b501.c61438"]]},{"id":"ac46fc2b.b7a45","type":"http in","z":"3a86ae08.cdc502","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":112.10000228881836,"y":289.0000057220459,"wires":[["184ece63.ce0cb2"]]},{"id":"25133cca.bf5ef4","type":"function","z":"3a86ae08.cdc502","name":"random number","func":"var time = new Date();\nhh = time.getHours();\nmm = time.getMinutes();\n\nif(hh && hh.toString().length < 2) {\n    hh = \"0\" + hh;\n}\nif(mm && mm.toString().length < 2) {\n    mm = \"0\" + mm;\n}\n\nvar output = hh + \":\" + mm;\nthis.context.flow.set(\"random-time\", output);\n\n\nthis.context.flow.set(\"random\", msg.payload);\n\nmsg.payload = {\"random\" : msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":429.1000556945801,"y":290.0000057220459,"wires":[["febd15fe.4c6f88"]]},{"id":"febd15fe.4c6f88","type":"http response","z":"3a86ae08.cdc502","name":"","statusCode":"","headers":{},"x":653.1000556945801,"y":289.600004196167,"wires":[]},{"id":"184ece63.ce0cb2","type":"random","z":"3a86ae08.cdc502","name":"","low":"0","high":"100","inte":"true","x":264.10000228881836,"y":289.00000381469727,"wires":[["25133cca.bf5ef4"]]},{"id":"7701980e.5b9fb8","type":"http in","z":"3a86ae08.cdc502","name":"","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":124.10000610351562,"y":460.60003662109375,"wires":[["d5aaf9eb.8c7a58"]]},{"id":"9d576871.eaeaf8","type":"http response","z":"3a86ae08.cdc502","name":"","statusCode":"","headers":{},"x":806.1000604629517,"y":462.0000057220459,"wires":[]},{"id":"d5aaf9eb.8c7a58","type":"function","z":"3a86ae08.cdc502","name":"","func":"msg.random = this.context.flow.get('random');\nmsg.time = this.context.flow.get('time');\nmsg.randomTime = this.context.flow.get('random-time');\nreturn msg;","outputs":1,"noerr":0,"x":299.1000061035156,"y":462,"wires":[["703272b7.a8ab7c"]]},{"id":"703272b7.a8ab7c","type":"template","z":"3a86ae08.cdc502","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#time}}\nTime last server time request received at {{time}}\n{{/time}}\n\n{{#random}}\nLast random number request returned {{random}}, which was received at {{randomTime}}\n{{/random}}\n\n{{^time}}\n  No server time requests have been received\n{{/time}}\n\n{{^random}}\n  No requests for random numbers have been received\n{{/random}}","output":"str","x":546.1000366210938,"y":462,"wires":[["9d576871.eaeaf8"]]}]