assignment3.txt.txt
[{"id":"c995176d.dff6b8","type":"inject","z":"580539dc.6d5d78","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":60,"wires":[["f95d5500.1c9e58"]]},{"id":"3b615d62.150492","type":"wiotp out","z":"580539dc.6d5d78","authType":"d","qs":"true","qsDeviceId":"3b615d62.150492","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":350,"y":100,"wires":[]},{"id":"9b1985a4.5a90a8","type":"debug","z":"580539dc.6d5d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":180,"wires":[]},{"id":"eee51ed2.d0ddf","type":"function","z":"580539dc.6d5d78","name":"","func":"str = msg.payload;\nresult = str.slice(5,9);\nvalue = parseFloat(result);\nmsg.payload = {'d':{'temp':value}};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":160,"wires":[["3b615d62.150492","9b1985a4.5a90a8"]]},{"id":"f95d5500.1c9e58","type":"exec","z":"580539dc.6d5d78","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":160,"y":260,"wires":[["eee51ed2.d0ddf"],[],[]]}]
